.first-image {
  width: 100%;
}

.our-company-text {
  font-size: 1.6rem;
  color: #6d6868;
  padding: 5%;
  border-radius: 13px;
  margin: 1.5% 3.5%;
}

.our-company-text-mob {
  font-size: 1rem;
  color: #6d6868;
  padding: 5%;
  border-radius: 13px;
  margin: 1.5% 3.5%;
}

.underline {
  display: inline-flex;
  background-color: #487586;
  width: 50%;
  height: 3px;
}

.our-company-head{
    font-size: 3.5rem;
    margin: 1%;
    color: #302d50cf;
}

.our-company-head-mob{
    font-size: 1.5rem;
    margin: 1%;
    color: #302d50cf;
}

.clientSolutions{
    font-size: 1.6rem;
    color: #6d6868;
    padding: 5%;
    margin: 1.5% 3.5%;
}

.clientSolutions-mob{
    font-size: 1rem;
    color: #6d6868;
    padding: 5%;
    margin: 1.5% 3.5%;
}

.client-sol-image{
// padding: 0 3% 2% 0;
width: 50%;
// float: left;
}

.fr{
    float: right;
    padding: 0 0 2% 3%;

}

.fl{
    float: left;
    padding: 0 3% 2% 0;

}