<div>
  <div (click)="scroll(divme)">
    <img class="first-image" src="../../../assets/Front Page.png" />
  </div>
  <div id="ourcompany" style="text-align: center">
    <h1 [ngClass]="(innerWidth < 912)?'our-company-head-mob':'our-company-head'">Our Company</h1>
    <div class="underline"></div>
    <div [ngClass]="(innerWidth < 912)?'our-company-text-mob':'our-company-text'">
      RapidHire is a comprehensive talent acquisition company that provides multiple talent solutions ranging
      from permanent & temporary staffing services to more complex Recruitment Process Outsourcing (RPO)
      partnerships.

      Founded in 2014, RapidHire offers employers a range of services for the entire employment and
      business cycle including permanent, temporary and contract recruitment; employee assessment and
      selection; training; outplacement; outsourcing and consulting. We have been catering to Small, Medium
      and Large enterprises across the world. The focus of RapidHire’s work is on raising productivity through
      improved quality, efficiency and cost-reduction across their total workforce, enabling clients to concentrate
      on their core business activities.

      Being one of India's premier providers of executive search consulting services, we now aim to achieve
      world-class quality that could be benchmarked against global standards. Our in-depth knowledge base
      coupled with our sustainable efforts toward maintaining a trustworthy relationship and providing a
      pleasant working experience to our clients ensures competitive advantage and sustainable value to them.

      The company is led by a team of experienced and value driven Management Council. RapidHire is a
      well structured team of dedicated professionals specialized in the industry/sector, who consistently meet
      the needs of all the stake holders including clients, employees, investors and society.
    </div>
  </div>
</div>

<div>
  <div id="clientsolutions" style="text-align: center">
    <h1 [ngClass]="(innerWidth < 912)?'our-company-head-mob':'our-company-head'">Client Solutions</h1>
    <div class="underline"></div>
    <div  [ngClass]="(innerWidth < 912)?'clientSolutions-mob':'clientSolutions'">
      <img class="client-sol-image fl" src="../../../assets/Client Solutions.png" />
      The world of work is evolving at a fast pace, and organizations must be ready to keep up. At the
      RapidHire Infotech we don’t just understand the changing employment landscape – we work with our
      clients to ensure they can embrace it. Because we understand that businesses across the globe must
      become more fluid, more flexible and more open to new ways of working.

      In recent years we’ve seen the global economy fluctuate dramatically, and market dynamics shift
      seemingly overnight. We understand that the way we all do business today will look very different in
      one year, five years, ten years’ time. We can’t know for sure what will happen. But we do know that no
      business can operate without its people. That’s why strategic workforce planning is vital, and why we
      will work with you to design, build, grow, manage and optimize your workforce solutions. For now, and
      for what the future might hold.

      Make no mistake, we’re not just a service provider. We certainly don’t do ‘off the shelf.’ We’ll listen,
      learn, get to know your business needs in-depth – and then tailor the right solution for your
      organization. We’ll ensure that you can maximize opportunities, and minimize risks.

      With our breadth and depth of expertise gained on the global stage, we’re able to deliver the fully
      integrated HR solutions that will support your organization's development and growth strategy. So
      you’re not just ready for the future. You’re already there

      Temporary Staffing - Working with you to achieve results

      Permanent Staffing - Finding the candidates who'll fit your culture

      RPO - Let us take care of things
    </div>
  </div>
</div>


<div>
    <div id="sustainability" style="text-align: center">
      <h1 [ngClass]="(innerWidth < 912)?'our-company-head-mob':'our-company-head'">Sustainability</h1>
      <div class="underline"></div>
      <div  [ngClass]="(innerWidth < 912)?'clientSolutions-mob':'clientSolutions'">
        <img class="client-sol-image fr" src="../../../assets/Sustainability.png" />
        As a global organisation, we believe that each and every one of us has the ability to transform our world
        for the better. Whether that’s in or outside of the workplace.
        
        The prosperity of individuals, businesses and countries globally depends upon a shared understanding
        of ethical social responsibility. That means not taking the way things are done for granted, but looking at
        how we can improve the way those things are done. It means looking at the issues that need to be addressed,
        and prioritising what needs to be tackled for the good of our planet and the people living on it.
        
        At RapidHire , we don’t just imagine the positive impact we can make. We put our expertise, our energy
        and our enthusiasm into making it.
        
        We’re positive about diversity. Whether that be modern ways of working, or ensuring that every
        member of our society has the opportunity to achieve their full potential through employment. Regardless of
        age, gender or physical ability, we work to ensure the world of work is alive and achievable for all. No
        preconceptions. No barriers. No limits.
        
        We want to enlighten, influence, stimulate and empower on a global scale. That’s why we’re not afraid to
        share our opinions, stand by our beliefs, and anticipate the future. Then meet it head on.
        
        SOCIAL RESPONSIBILITY - Capturing opportunities in an emerging world of work
        
        ECONOMIC RESPONSIBILTY - Taking action in an economic climate we can’t count on
        
        ENVIRONMENTAL RESPONSIBILTY - Taking care of the world we live in
      </div>
    </div>
  </div>

  <div>
      <div id="whyrh" style="text-align: center">
        <h1 [ngClass]="(innerWidth < 912)?'our-company-head-mob':'our-company-head'">Why Rapidhire</h1>
        <div class="underline"></div>
        <div  [ngClass]="(innerWidth < 912)?'clientSolutions-mob':'clientSolutions'">
          <img class="client-sol-image fl" src="../../../assets/Why RH.png" />
          Join us and you’ll be working with a forward-thinking, pro-active and enlightened organization that
          doesn’t just look to the future, but predicts it. We work with businesses worldwide to provide tailored
          workforce solutions that meet their needs now, but also take into account their ongoing talent requirements.
          We know that the workplace landscape is changing fast. That’s why we’re already there, devising and
          delivering trailblazing initiatives and working with global organization's to ensure that the future of work is
          accessible and open to all.
          
          We empower our people to carve their own career paths their way. After all, it’s only natural that a
          people-focused organization should be focused on its own people too. We will offer all the training, tools,
          motivation and inspiration you need to achieve exactly what you want from your career. Be that flexibility,
          international mobility or an enhanced work/life balance. If you can make an impact, we’ll provide the career
          development opportunities you need to achieve your potential and thrive.
          
          Learning and Growth: Your opportunities to develop both personally and professionally with the Adecco
          Group are second to none. Because working with us is a continuous learning experience. No matter what
          experience you bring with you. With us, your career path takes you where you want to go. Be it a traditional
          route into a management role. A step up on the senior ladder. Or a more alternative journey. It’s all about
          your ambition. Your goals. And where you want to be.
          
          Inclusion :You are our greatest asset. We don’t care what you are. We care about who you are.
          
          We deal with people of all ages, of all abilities, from all walks of life, every single day. And that’s why
          we’re determined to have an inclusive workforce that reflects what our business is about. People.We respect
          and value the different life experiences our people bring to our business. No matter what your nationality,
          gender, race or religion, if you can make a positive impact in your role then it’s your skills that matter. And
          nothing else.
        </div>
      </div>
    </div>
<!-- 
<div>
  <img src="../../../assets/"
</div> -->